
* {
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

head {

}

body {
    background-color: #F4F1DE;
    margin: 0px;
}

header {
    background-color: #3D405B;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    float: left;
    height: 3em;
    border-bottom: 0.2em solid #81B29A;
}

header > button {
    background-color: #E07A5F;
    border: none;
    border-right: 0.2em solid #81B29A;
    margin: 0;
    height: 100%;
    width: 6em;
    float: left;
}

header > button > a {
    color: #F2CC8F;
    text-decoration: none;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

body > h1 {
    text-align: center;
    color: #E07A5F;
}

.flex-container {
    width: 80%;
    align-self: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    border: 0.3em solid #E07A5F;
    background-color: #F2CC8F;
}

.flex-container > div {
    width: 10em;
    margin: 1em;
    text-align: center;
    font-size: 1em;
}

.flex-container > div > span {
    margin: 0px;
    padding: 0px;
    display: block;
    color: #3D405B;
}

.flex-container > h1 {
    margin: auto;
    vertical-align: top;
    display: block;
    padding: 1em;
}

.flex-container > div > img {
    width: 100%;
}